#________________________________________________ important
__pycache__
#.gitignore
.idea
.pytest_cache
.venv
#________________________________________________ files
*.exe
*.jpeg
*.jpg
*.log
*.mp3
*.mp4
*.png
*.toml
*.webm
*.weba
*.zip
*.spec
*.lock
*.Iock
*.bat
*.json
*.sh
*.doc
*.docx
*.ppt
*.pptx
*.xls
*.xlsx
*.pdf
*.txt
*.csv
*.xml
*.html
*.htm
*.css
*.js
*.java
*.cpp
*.c
*.h
*.php
*.sql
*.rb
*.pyc
*.bin
*.dat
*.tar
*.gz
*.rar
*.7z
*.xlsm
#________________________________________________ directories
$cache_database
$cache_fonts
$cache_log
$cache_mp3
$cache_png
$cache_prison
$cache_sound
$cache_tools
$cache_work_for_music
$cache_zip
build 
pkg_yt_dlp
console_blurred_exe_kill.bat
console_blurred_exe_run.bat
console_blurred.spec
index.bat
index.spec
pkg_jq/jq-win64.exe
park4139_archive.toml
park4193_logger.log
parks2park_archive.log
poetry.lock
PROJECT_DIRECTORY.txt
py_pkg_ver.log
pyproject.toml
run cmd as admin.bat
storage
success_yt_dlp.log
success.log
test foo_py as virtual env.bat
test_keyboard.py
test.jpg